########## without Version Specifiers ##########
mysql-connector-python
colorama
coloredlogs
verboselogs
docopt
requests
archive
tqdm

########## with Version Specifiers ##########
alive_progress==1.6.2
